.footer{
	.container{
		padding-top: 5.5rem;
		padding-bottom: 5.5rem;
		text-align: center;
	}
	p{
		color: #4f4f4f;
		letter-spacing: 0.03rem;
		font: 1.5rem $font-bold;
	}
	&__menu{
		padding-top: 1.8rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		a{
			display: block;
			color: #4f4f4f;
			padding: 0 2rem 0.5rem;
			white-space: nowrap;
			font-size: 15px;
			&:hover{
				color:#000;
				text-shadow: 0 0 0.1rem #000;
			}
		}
	}
}